In [47]:
import pandas as pd
Path=r'C:\Users\HP\Desktop\Resume\Jobs Applied\DME\Python'
Path_Data=Path+'\\Data\\'
xls=pd.ExcelFile(Path_Data+'Temp.xlsx')
Test=pd.read_excel(xls,'Data')

In [56]:
Test

        Name  Count
0  Deependra      2
1     Manish      1
2      dgrts      4
3  ghslkdtec      5
4    hstevig      3

In [82]:
Name=Test.iloc[:,0]
Count=Test.iloc[:,1]
print(Name)
print(Count)

0    Deependra
1       Manish
2        dgrts
3    ghslkdtec
4      hstevig
Name: Name, dtype: object
0    2
1    1
2    4
3    5
4    3
Name: Count, dtype: int64

In [83]:
#Name = ['Deependra','ABC','CNE','rsghjt']
#Count= [5,4,3,7]
Final=[]
for a in range(len(Count)):
    for b in range(Count[a]):
        print(Name[a])
        Final.append(Name[a])
print(Final)
type(Final)

Deependra
Deependra
Manish
dgrts
dgrts
dgrts
dgrts
ghslkdtec
ghslkdtec
ghslkdtec
ghslkdtec
ghslkdtec
hstevig
hstevig
hstevig
['Deependra', 'Deependra', 'Manish', 'dgrts', 'dgrts', 'dgrts', 'dgrts', 'ghslkdtec', 'ghslkdtec', 'ghslkdtec', 'ghslkdtec', 'ghslkdtec', 'hstevig', 'hstevig', 'hstevig']

list

In [140]:
import random
random.shuffle(Final)
random.shuffle(Final)
random.shuffle(Final)
print(Final)

['hstevig', 'dgrts', 'ghslkdtec', 'Deependra', 'ghslkdtec', 'Manish', 'ghslkdtec', 'ghslkdtec', 'Deependra', 'dgrts', 'hstevig', 'dgrts', 'hstevig', 'ghslkdtec', 'dgrts']

In [106]:
df = pd.DataFrame(Final,columns =['Names'])
df

        Names
0       dgrts
1   ghslkdtec
2      Manish
3     hstevig
4   ghslkdtec
5       dgrts
6   ghslkdtec
7   ghslkdtec
8       dgrts
9   Deependra
10    hstevig
11    hstevig
12      dgrts
13  Deependra
14  ghslkdtec

In [80]:
df.to_csv("Final.csv",index = True)